@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* General Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Handlee', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 2rem 0;
}

/* Navbar */
.navbar-custom {
    color: #3B2F2F;
}

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
    padding: 100px 0;
}

#header .btn {
    color: #3B2F2F;
}

/* Services */

#services .card {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#services .card img{
    max-height: 200px;
    object-fit: cover;
}

/* Make sure header doesnt move to two lines to keep uniform size */
.card h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Footer */

footer {
    background-color: #6F4E37 !important;
    padding: 1.5rem 0;
    margin-top: auto;
}

footer small,
footer i {
    color: #FFEBD4;
}


/* Media Queries */

/* Using Bootstrap Breakpoints */
@media screen and (min-width: 992px) {
    #services .card-text {
        min-height: 100px;
    }
}

@media screen and (min-width: 1400px) {
    #services .card-text {
        min-height: 75px;
    }
}